@tailwind base;
@tailwind components;
@tailwind utilities;

.NavLogo {
  width: 139px;
  height: 36px;
}
.NavOuter {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.bgBT1 {
  background: var(--leeza-green, rgba(41, 161, 103, 1));
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: black;
}

.gradient-line {
  height: 5px; /* Adjust the height as needed */
  background: linear-gradient(90deg, #cb6be5 0%, #f5b400 100%);
  border: none; /* If using <hr> */
}

li {
  list-style-type: disc;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
} */
