@tailwind base;
@tailwind components;
@tailwind utilities;

.NavLogo {
  width: 139px;
  height: 36px;
}
.NavOuter {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:600px){
    .LeftInfo{
     
     
    }
}
